/* setting up variables */

:root {
    --font-size: 16px;
    --font-weight: 400;
    --gutter: 16px;
    --black: #001E08;
    --white: #F8F9F3;
    --red: #F15211;
    --blue: #2376E4;
    --green: #A0B74D;
    --yellow: #F7C600;
}

/* mobile */

.header-menu {
    position:sticky;
    top:0;
    background-color: transparent;
    /* add mobile version */
}

main {
    padding: var(--gutter);
}

html {
    background-color: var(--blue);
}

/* desktop */

@media (min-width: 768px) {
    .header-menu {
        display: flex;
        flex-direction: row;
        padding: calc(var(--gutter)*2);
        justify-content: space-between;
    }

    .header-menu ul {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        gap: 25%;
    }

    .home-menu {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: calc(var(--gutter)*6);
    }

    main {
        padding: 10%;
    }
}